.about {
  background-color: #191d1d;

  padding: 10px 20px;
}
.about-img {
  width: 100%;
  max-width: 500px;
}
.about-h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 80px;

  line-height: 109.00000000000001%;
  letter-spacing: -3%;
}
