@import url("../css/header.css");
@import url("../css/shop.css");
@import url("../css/home.css");
@import url("../css/select.css");
@import url("../css/star.css");
@import url("../css/about.css");
@import url("../css/shop.css");
@import url("../css/footer.css");
@import url("../css/media.css");

* {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.container {
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 20px;
}






html {
  scroll-behavior: smooth;
}