/* teamleader */

.heading {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 37.6px;
  leading-trim: NONE;
  line-height: 109.00000000000001%;
  letter-spacing: -3%;
  width: 195;
  height: 41;
  right: 150px;
  position: relative;

  angle: 0 deg;
  opacity: 1;
  color: #237249;
}

a {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 19.17px;
  color: #d9d9d9;
  line-height: 100%;
  letter-spacing: 0%;
}

ul {
  list-style-type: none;
}

.nav-list {
  align-items: center;
  display: flex;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

header {
  background-color: #191d1d;
}

