/* teamleader */


* {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
}

.container {
    max-width: 1294px;
    margin:0 auto;
    padding:0 20px;
}

.heading {
    font-family: Montserrat;
font-weight: 800;
font-style: ExtraBold;
font-size: 37.6px;
leading-trim: NONE;
line-height: 109.00000000000001%;
letter-spacing: -3%;
width: 195;
height: 41;
top: 48px;
left: 130px;
angle: 0 deg;
opacity: 1;

}