

@media (max-width: 768px) {
  .nav-list {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .heading {
    font-size: 22px;
  }

 
}



@media (max-width:541px) {
   .nav-ul {
    display: none;
  }
}