.star-h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 80px;
  color: #ffffff;
  left: 20px;

  line-height: 109.00000000000001%;
  letter-spacing: -3%;
}
span {
  color: #237249;
}
.starp {
font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 20px;
leading-trim: NONE;
line-height: 163%;
letter-spacing: -2%;
color: #D9D9D9;
max-width: 570px;
height: 66px;
angle: 0 deg;
opacity: 1;

right: 340px;
position: relative;


}


.star-section {
  background-color: #191D1D;
  flex-direction: ;
  padding: 10px 20px;
}

.trystar img {
  width: 50%;
}


.sct-btn {
  width: 333.381134033203px;
height: 74.65283203125px;
right:300px;
angle: 0 deg;
opacity: 1;
left: 130px;
position: relative;
border-radius: 82.83px;

}