.star-h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 80px;
  color: #ffffff;
  left: 20px;

  line-height: 109.00000000000001%;
  letter-spacing: -3%;
}
span {
  color: #237249;
  background: line(263.46deg, #237249 3.14%, #35c66b 87.2%);
}
.star-p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;

  line-height: 163%;
  letter-spacing: -2%;
  color: #d9d9d9;
  margin-bottom: 54px;
}

.star-section {
  background-color: #191d1d;

  padding: 10px 20px;
}

.trystar img {
  width: 50%;
}

.sct-btn {
  left: 130px;
  position: relative;
  border-radius: 82.83px;
}
.star-btn {
  padding: 20px 80px;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  color: #ffffff;
  border: none;
  border-radius: 82px;
  font-family: Montserrat;
  font-weight: 639;
  font-style: SemiBold;
  font-size: 24px;

  line-height: 146%;
  letter-spacing: -2%;
}
.star-btn1 {
  border: 1.02px solid gray;

  padding: 20px 50px;
  background: #121517;
  border-radius: 82px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -3%;
  color: #d9d9d9;
  position: relative;
  left: 10px;
}

.Star {
  display: flex;
  justify-content: center;
  gap: 155px;
}
.star-div {
  display: flex;
  flex-direction: column;
}
.star-h2 {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 62px;
  color: #ffffff;
  line-height: 109.00000000000001%;
  letter-spacing: -3%;
}
.star-2 {
  display: flex;
  gap: 65px;
  flex-wrap: wrap;
}
.stars-p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  color: #d9d9d9;
  line-height: 144%;
  letter-spacing: -2%;
}
.star-3 {
  display: flex;
  flex-direction: column;
}
.star-img1 {
  display: flex;
  align-items: center;
}
@media (max-width: 1100px) {
  .Star {
    flex-direction: column-reverse;
  }
}
@media (max-width: 450px) {
  .Star {
    gap: 50px;
  }
}
@media (max-width: 550px) {
  .star-img {
    width: 100%;
  }
  .star-h1 {
    font-size: 60px;
  }
}
